html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-container {
    height: 100%;
}

.leaflet-container {
    height: 100% !important;
    width: 100% !important;
}

/* Animación suave al pasar el mouse sobre las tarjetas */
.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Añade una sombra */
}

/* Animación para el botón */
.btn-primary {
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #004085; /* Un azul más oscuro */
    transform: translateY(-2px); /* Eleva ligeramente el botón */
}

.map-container {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
}

/* Estilo para el pin seleccionado */
.leaflet-marker-icon.selected {
    filter: hue-rotate(0deg) brightness(1.5); /* Cambia a rojo y aumenta el brillo */
  }
  
 /*Cambia el cursor cuando pasas sobre un marcador */
  .leaflet-marker-icon {
    cursor: pointer;
  }

/*Animacion de los botones*/
  button {
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
   
  